* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(280.90deg, #4200FF 14.93%, #000000 95.52%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    margin-left: 30px;
    margin-top: 15px;
}

.logo > img {
    width: 110px;
}

.contair {
    background-color: #100079;
    width: 450px;
    height: 590px;
    margin: 0 auto;
    margin-top: 0px;
    padding: 20px;
    box-shadow: 3px 5px 2px black;
    border-radius: 1px;
    text-align: center;
    border-radius: 15px;
}

h1 {
    margin-top: 0;
    font-size: 50px;
    color: white;
    text-shadow: 3px 2px 1px black;
}

form {
    margin-top: 30px;
}

input {
    padding: 12px;
    padding-left: 35px;
    padding-right: 35px;
    display: block;
    margin-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

label {
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4422ff;
    color: #fff;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    box-shadow: 1px 2px 1PX black;
    cursor:pointer;
    border-radius: 5px;
}

button:hover {
    padding: 10px 20px;
    background-color: #0044ff;
    color: #fff;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    box-shadow: 1px 2px 1PX black;
    cursor:pointer;
    border-radius: 5px;
    transform: scale(0.9);
    transition-duration: 0.5s;
}

.submit {
    background-color: #4200FF;
    width: 30%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9.4vw;
}

.submit:hover {
    background-color: #0099ff;
    width: 30%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9.4vw;
}

p {
    margin-top: 15px;
    color: rgb(255, 255, 255);
}

a {
    color: rgb(0, 106, 255);
}

.cor {
    color: white;
}