* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/Rectangle\ 15.png);
    background-size: cover;
}

header {
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    box-shadow: 3px 3px 3px rgb(0, 41, 88);
    align-items: center;
}

header>img {
    width: 110px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.perfil {
    margin-right: 15px;
    border-radius: 200px;
    width: 110px;
}

.nickname {
    color: white;
    background-color: #007bff;
    outline: none;
    font-size: 25px;
}

nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 700px;
}

nav>ul>li {
    display: inline;
}

nav>ul>li>a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    margin-right: 12px;
    background-color: #116fd4;
    border-radius: 20px;
}

nav>ul>li>a:hover {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    margin-right: 12px;
    background-color: #00458e;
    border-radius: 20px;
}

section {
}


.novidade {
    display: flex;
    color: #007bff;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 30px;
}

.novidade>h2 {
    color: #007bff;
    text-align: center;
    font-size: 30px;
}

aside {
    float: right;
}

.h2 {
    margin-top: 100px;
    margin-left: 100px;
}

.imagem1 {
    background-image: url(/img/chainsaw-man.webp);
    background-size: cover;
    height: 350px;
    width: 50%;
    border-radius: 17px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px #007bff;
}

main {
    margin: 0 auto;
}


.h2 {
    color: #007bff;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 30px
}

.animes {
    background-color: #007bff;
    padding: 30px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 0px 0px white;
    overflow-x: scroll;
    padding-left: 550px;
    margin: 0 auto;
}

.animes::-webkit-scrollbar {
    display: none;
}


.animes>img {
    width: 200px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 7px;
}

.animes>img:hover {
    width: 200px;
    transform: scale(1.1);
    transition-duration: 0.5s;
    box-shadow: 0px 0px 2px white;
    cursor: pointer;
}


.mangas {
    background-color: #007bff;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 0px 0px white;
    overflow-x: scroll;
    padding-left: 550px;
    margin: 0 auto;
}

.mangas::-webkit-scrollbar {
    display: none;
}

.mangas>img {
    width: 200px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 7px;
}

.mangas>img:hover {
    width: 200px;
    transform: scale(1.1);
    transition-duration: 0.5s;
    box-shadow: 0px 0px 2px white;
    cursor: pointer;
}



